[Unit]
Description=HLT daemon configuration service
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/fff/init.d/fff start
ExecStop=/opt/fff/init.d/fff stop

[Install]
WantedBy=multi-user.target
