[Unit]
Description=HLT daemon configuration service
Wants=network-online.target
After=nfs.service
Requires=nfs.service
Before=hltd.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/opt/fff/init.d/fu-notify start
ExecStop=/opt/fff/init.d/fu-notify stop

[Install]
WantedBy=multi-user.target
