[Unit]
Description=HLT daemon service
Wants=network-online.target
After=fff.service network.service nfs.service rsyslog.service
PartOf=fff.service

[Service]
Type=simple
ExecStartPre=/opt/hltd/init.d/hltd pre-start
ExecStart=/opt/hltd/scratch/python/hltd.py
ExecStopPost=/opt/hltd/init.d/hltd post-stop
Restart=always
RestartSec=25
KillMode=control-group
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
